.why-card {
    position: relative;
    width: 30vw;
    min-height: 15vw;
    height: fit-content;
    background-color: #a6c893;
    margin-top: 5%;
    border-radius: 10px;
    padding: 1vw 1.5vw;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.card-title{
    color: #20312e;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    margin-top: 2vw;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

.readmore-button {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #5F7E50;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    /* padding: 5px; */
    border: 1px solid #5F7E50 ;
    width: 10vw;
    height: 2vw;
    border-radius: 1vw;
    background-color: #fff;
    bottom: 20%;
    /* left: 50%; */
    /* transform: translate(-50%,0); */
}

.link {
    z-index: 2;
    color: #5F7E50;
    text-decoration: none;
}

.card-content{
    text-align: center;
    margin-top: 0.5vw;
}

.dot{
    text-align: center;
    font-size: 3em;
}

@media screen and (max-width : 430px) {
    .why-card {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 90vw;
        min-height: 45vw;
        height: fit-content;
        background-color: #a6c893;
        margin-top: 5%;
        border-radius: 10px;
        padding: 1vw 1vw;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    }
    .dot{
        text-align: center;
        font-size: 2em;
    }
    .readmore-button {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #5F7E50;
        margin-top: 1vw;
        margin-left: auto;
        margin-right: auto;
        /* padding: 5px; */
        border: 1px solid #5F7E50 ;
        width: 30vw;
        height: 6vw;
        border-radius: 3vw;
        background-color: #fff;
        font-size: 0.75em;
    }
    .card-content{
        text-align: center;
        margin: 0.5vw 2vw 0;
        font-size: 1em;
        
    }
}