.service-title{
    width: fit-content;
    font-size: 3em;
    color: white;
    font-weight: 500;
    margin-bottom: 3vw;
    margin-top: 4vw;
}
.video-div{
    width: fit-content;
}
.video{
    width: 50vw;
    height: 50vh;
}
.service-content{
    width: 70%;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 1.5em;
}

.extraimages{
    width: 70%;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.extraimage{
    width: 25vw;
    margin-bottom: 2vw;
}
.heading{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 2em;
}

@media screen and (max-width : 430px) {
    .service-title{
        text-align: center;
        font-size: 1.5em;
        margin-top: 14vw;
    }
    .video{
        width: 90vw;
        height: 30vh;
    }
    .service-content{
        width: 90%;
        margin-top: 2vw;
        margin-left: auto;
        margin-right: auto;
        color: white;
        font-size: 0.9em;
    }
}