.service-title{
    width: fit-content;
    font-size: 3em;
    color: white;
    font-weight: 500;
    margin-bottom: 3vw;
    margin-top: 3vw;
}
.video-div{
    width: fit-content;
}
.video{
    width: 50vw;
    height: 50vh;
}
.service-content{
    width: 70%;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 1.5em;
}