<div class = 'contact-us'> Contact Us At</div>
<div class="footer">
    <div class="contact-info">
        <div>Timings: </div>
        <div>Mon to Fri: 10 AM to 2:00 PM and 5:30 PM to 9:00 PM</div>
        <div>Sat: 10 AM to 2 PM</div>
        <div>Sunday Closed.</div>
<br>
        <div>Thakur Dental Clinic, 3rd Floor, Apsara Building, Above Meenawala Jewellers, S.V. Road,</div>
        Santacruz West, Mumbai 400054.
<br><br>
        <div>Contact Number: 022- 26491219, +91- 9322641575</div>


    </div>
    <div>
        <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.6358353498713!2d72.83547397490017!3d19.07974238212564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9081a555505%3A0xb5d3f2b3adb4f888!2sThakur%20Dental%20Clinic!5e0!3m2!1sen!2sin!4v1683127276538!5m2!1sen!2sin"
            style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>