.service-title {
    font-size: 3em;
    /* font-family: 'Monesserat'; */
    font-weight: 500;
    color: white;
    width: fit-content;
    /* text-decoration: underline; */
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;

}

.service-cards {
    margin: 2vw 5vw 0;
}

.service-card {
    position: relative;
    width: 27vw;
    height: 20vw;
    /* height: fit-content; */
    background-color: #a6c893;
    margin-bottom: 2vw;
    border-radius: 10px;
    padding: 1vw 0;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.card-title{
    color: #20312e;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    /* margin-top: 2vw; */
    /* margin-right: 1vw; */
    /* margin-sleft: 1vw; */
}

.card-image{
    position: absolute;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 50%;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
}

.button{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #5F7E50;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    /* padding: 5px; */
    border: 1px solid #5F7E50 ;
    width: 10vw;
    height: 2vw;
    border-radius: 1vw;
    background-color: #fff;
    bottom: 10%;
    left: 50%;
    text-decoration: none;
    transform: translateX(-50%);
}

@media screen and (max-width : 430px){
    .service-title {
        font-size: 2em;
        /* font-family: 'Monesserat'; */
        font-weight: 500;
        color: white;
        width: fit-content;
        /* text-decoration: underline; */
        margin-top: 20vw;
        margin-left: auto;
        margin-right: auto;
    
    }
    
    .service-cards {
        margin: 2vw 5vw 2vw;
    }
    
    .service-card {
        position: relative;
        width: 90vw;
        height: 66vw;
        /* height: fit-content; */
        background-color: #a6c893;
        margin-bottom: 5vw;
        border-radius: 10px;
        padding: 2vw 0;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }
    
    .card-title{
        color: #20312e;
        font-size: 1.3em;
        font-weight: 500;
        text-align: center;
        /* margin-top: 2vw; */
        /* margin-right: 1vw; */
        /* margin-sleft: 1vw; */
    }
    
    .card-image{
        position: absolute;
        margin-top: 3vw;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        height: 50%;
        left: 50%;
        transform: translateX(-50%);
        object-fit: contain;
    }
    
    .button{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #5F7E50;
        margin-top: 1vw;
        margin-left: auto;
        margin-right: auto;
        /* padding: 5px; */
        border: 1px solid #5F7E50 ;
        width: 30vw;
        height: 6vw;
        border-radius: 3vw;
        background-color: #fff;
        bottom: 10%;
        left: 50%;
        text-decoration: none;
        transform: translateX(-50%);
        font-size: 0.7em;
    }
}