<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Thakur Dental Clinic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class='nav-link' routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
          </li>
          <li class="nav-item">
            <a class='nav-link' routerLink="/meet-the-team" routerLinkActive="active" ariaCurrentWhenActive="page">Meet the Team</a>
          </li>
          <li class="nav-item">
            <a class='nav-link' routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page">Services</a>
          </li><li class="nav-item">
            <a class='nav-link'routerLink="/testimonials" routerLinkActive="active" ariaCurrentWhenActive="page">Testimonials</a>
          </li><li class="nav-item">
            <a class='nav-link'routerLink="/more" routerLinkActive="active" ariaCurrentWhenActive="page">More</a>
          </li>
          <li class="nav-item">
            <a class='nav-link'routerLink="/patient-education" routerLinkActive="active" ariaCurrentWhenActive="page">Patient Education</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
