.navbar{
    position: fixed;
    top: 0;
    z-index: 2;
    background-color:#5F7E50;
    width: 100%;
    transition: top 0.3s;
}
.navbar-brand{
    font-size: 150%;
    color: #FFF;
    font-weight: 600;
    margin-left: 2vw;
}

.nav-item{
    width: 11vw;
    text-align: center;
    color: black;
    font-weight: 500;
}

.active{
    color: #fff !important;
}   

.dropdown-menu{
    background-color: #5F7E50;
    transform: translate(-25%,0);
    text-align: center;
}
.dropdown:hover .dropdown-menu{
    /* display: block; */
    margin-top: 0;
}

.dropdown-item:hover .dropdown-item{
    cursor: pointer;
    background-color: #5F7E50;
}

@media screen and (max-width: 430px){
    .nav-item{
        width: 100%;
        text-align: center;
        color: black;
        font-weight: 500;
    }
    .dropdown-menu{
        background-color: #5F7E50;
        transform: translate(0,0);
        text-align: center;
    }
}