<nav class="navbar navbar-expand-lg" (scroll)="onScroll($event)">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Thakur Dental Clinic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class='nav-link' routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Home</a>
          </li>
          <li class="nav-item">
            <a class='nav-link' routerLink="/meet-the-team" routerLinkActive="active" ariaCurrentWhenActive="page" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Meet the Team</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
            <ul class = "dropdown-menu">
              <li ><a class =" nav-link dropdown-item"  [routerLink] ="['/services','dental-implants']" ariaCurrentWhenActive="page" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Dental Implants</a></li>
              <li ><a class =" nav-link dropdown-item"   [routerLink] ="['/services','aesthetic-dentistry']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Aesthetic Dentistry</a></li>
              <li ><a class =" nav-link dropdown-item"   [routerLink] ="['/services','root-canal-treatment']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Root Canal Treatment</a></li>
              <li ><a class =" nav-link dropdown-item"   [routerLink] ="['/services','crowns-bridges-dentures']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Crowns, Bridges and Dentures</a></li>
              <li ><a class =" nav-link dropdown-item"   [routerLink] ="['/services','dentistry-for-kids']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Dentistry for Kids</a></li>
              <li ><a class =" nav-link dropdown-item"   [routerLink] ="['/services','braces-and-aligners']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Braces and Aligners</a></li>
              <li ><a class =" nav-link dropdown-item"   [routerLink] ="['/services','wisdom-tooth-extraction']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Wisdom Tooth Extraction</a></li>
              <li ><a class =" nav-link dropdown-item"   [routerLink] ="['/services','oral-surgery']" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Oral Surgery</a></li>
              
            </ul>
          </li><li class="nav-item">
            <a class='nav-link'routerLink="/testimonials" routerLinkActive="active" ariaCurrentWhenActive="page" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Testimonials</a>
          <!-- </li><li class="nav-item">
            <a class='nav-link'routerLink="/more" routerLinkActive="active" ariaCurrentWhenActive="page">More</a>
          </li>
          <li class="nav-item">
            <a class='nav-link'routerLink="/patient-education" routerLinkActive="active" ariaCurrentWhenActive="page">Patient Education</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
